#search-tags {
  margin-bottom: 25px;
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;

  input {
    border: 0;
    box-shadow: none;
  }
  button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
  }
  button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
  }
  .glyphicon-search {
    font-size: 23px;
  }
}
.bootcards-media {
  transition: 0.2s all;

  &:hover {
    box-shadow: 0 1px 2px #ccc;
  }
  .panel-body {
    position: relative;
  }
  img {
    max-height: 140px;
    margin: 30px auto 15px;
  }
  .tags {
    list-style: none;
    padding: 0 15px;
    overflow: hidden;
  }
  .tags li {
    float: left;
  }
  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 8px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-size: 0.65em;

    &.tag-match{
      background-color: #0c0;
      color: #fff;

      &::after{
        border-left-color: #0c0;
      }
    }
  }
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  .tag::after {
    background: #fff;
    border-bottom: 11px solid transparent;
    border-left: 10px solid #eee;
    border-top: 11px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  .meta-div {
    padding: 15px;

    .icon {
      opacity: 0.3;
    }
    .meta {
      width: 33.33%;
      display: inline-block;
      margin-right: -3px;
    }
  }
  .panel-footer {
  }
}
.grid {
  border: 1px solid #cccccc;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}


.results-filters{
  padding-bottom: 30px;
}

.vote-btn{
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  &:hover{
    background-color: #eee;
  }
}